<div class="container">
    <ng-container *ngIf="files.length === 0; else showFiles">
        <div storeUiDragAndDrop class="file-upload-container" (fileDropped)="onFileDropped($event)">
            <input type="file" #file id="fileDropRef" (change)="fileBrowseHandler($event)" multiple />
            <h1>Drag and drop CSV files here</h1>
            <img src="../../assets/images/upload-svgrepo-com.svg" alt="upload image not found" />
            <hr />
            <h2>OR</h2>
            <button mat-fab extended color="success">
                <mat-icon>search</mat-icon>
                Browse for CSV files
            </button>
        </div>
    </ng-container>

    <ng-template #showFiles>
        <p>Total Files to be uploaded {{files.length}}</p>
    </ng-template>
    <button id="upload-action" mat-fab extended color="primary" (click)="uploadFiles(files)" *ngIf="files.length > 0">
        <mat-icon>upload</mat-icon>
        Click to upload CSV files
    </button>
    <button id="reset-action" mat-fab extended color="success" (click)="reset()" *ngIf="files.length > 0">
        <mat-icon>autorenew</mat-icon>
        Reset
    </button>
</div>